.Header-add{
    box-shadow: 0 0 5px 0 black;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 30px;
}
.Pro-buttons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.input-group{
display: flex;
justify-content: center;

}
.pinput{
    margin-right: 900px;
}
.Status-Button{
    margin: 0;
    display: flex;
    flex-direction: row;
}
.serial{
    display: flex;
    gap: 10px;
}